body {
  line-height: 1.5;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  font-family: sans-serif;
  background-color: white;
  margin: 40px auto;
  max-width: 750px;
}
img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
}

h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1,
h2,
h3 {
  line-height: 1.2;
}
h2 {
  color: #333c82;
}
h2,
h3 {
  margin-top: 2rem;
}

li {
  margin-bottom: 1rem;
}

hr {
  border: 1px solid #ddd;
  margin: 3rem auto;
  width: 50%;
}
.publication {
  padding: 1rem;
  margin: 3rem 0;
  background-color: #e6f6f6;
  border-radius: 0.6rem;
  font-size: 90%;
}
a[target="_blank"]:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

.services-head {
  padding: 1rem 2rem;
  margin: 0 0 3rem;
}

.about, .services-head {
  background: #e6f6f6;
}
.about p {
  padding: 0 2rem 2rem 2rem;
}
.articles h2 {
  margin-bottom: 0;
}
.articles p {
  margin: 0;
}
figcaption {
  font-size: 90%;
}

.menu a {
  position: fixed;
  top: 0.6rem;
  right: 0.6rem;
  background: darkcyan;
  color: white;
  padding: 0.4rem 1rem;
  box-shadow: 0.3rem 0.3rem #000;
  text-decoration: none;
}
.menu a:focus {
  box-shadow: none;
}

nav.sommaire li a, .button {
  background: #333c82;
  color: white;
  padding: 0.6rem;
  box-shadow: 0.3rem 0.3rem #000;
  text-decoration: none;
}
nav.sommaire li a:focus, .button:focus {
  box-shadow: none;
}
nav.sommaire li {
  margin: inherit;
  list-style-type: none;
  line-height: 2;
}

.focus-services {
  margin: 5rem 0 7rem;
}

.text-centered {
  text-align: center;
}

.photo {
  float: right;
  padding-left: 1rem;
  border-radius: 100%;
}

.home-baseline {
  font-size: 3.8rem;
  margin: 6rem 0;
}
