body {
  line-height: 1.5;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  font-family: sans-serif;
  background-color: white;
  margin: 40px auto;
  max-width: 750px;
}
img {
  max-width: 100%;
}
h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1,
h2,
h3 {
  line-height: 1.2;
}
h2,
h3 {
  margin-top: 2rem;
}
h2 {
  color: #333c82;
}
hr {
  border: 1px solid #ccc;
  margin: 2rem 0;
}
.publication {
  padding: 1rem;
  margin-bottom: 3rem;
  background-color: #e6f6f6;
  border-radius: 0.6rem;
  font-size: 90%;
}
a[target="_blank"]:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}
.about {
  background: #e6f6f6;
}
.about p {
  padding: 0 1rem 1rem 1rem;
}
.articles h3 {
  margin-bottom: 0;
}
.articles p {
  margin: 0;
}
figcaption {
  font-size: 90%;
}

.menu a {
  position: fixed;
  top: 0.6rem;
  right: 0.6rem;
  background: darkcyan;
  color: white;
  padding: 0.4rem 1rem;
}